# dependencies
node_modules/

# monorepo (muy importante)
apps/**/node_modules/
packages/**/node_modules/

# next.js
.next/
out/

# build
dist/
build/

# env
.env
.env.*

# prisma
prisma/*.db

# typescript
*.tsbuildinfo

# logs
*.log

# OS
.DS_Store
Thumbs.db

# turbo cache
.turbo/

# IDE
.vscode/settings.json